
@font-face {
  font-family: 'Annabelle';
  src: url("Annabelle.eot") format('embedded-opentype'),  url("Annabelle.woff") format('woff'), url("Annabelle.ttf")  format('truetype'), url("Annabelle.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
