
@font-face {
  font-family: 'ProximaNovaCond-Light';
  src: url("ProximaNovaCond-Light.eot") format('embedded-opentype'),  url("ProximaNovaCond-Light.otf")  format('opentype'),
	     url("ProximaNovaCond-Light.woff") format('woff'), url("ProximaNovaCond-Light.ttf")  format('truetype'), url("ProximaNovaCond-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
